body {
    font-family: Calibri, Arial, sans-serif;
    background-color: #fbfaf6; 
   /* background: radial-gradient(circle, #dde1e4, #fbfaf6); */
   
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    
    
}

ul {
    font-size: 19px;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-right: 50px;
    padding-top: 21px;
}



li {
    margin-right:30px;
}

a:link {
    
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    font-size: 25px;
    transition-duration: 0.6s;
    
  }
  
 
  a:active {
    opacity: 0.6;
    background-color: transparent;
    text-decoration: underline;
    
  }
  .mepic{
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo{
    padding-top: 20px; 
    padding-left: 30px;
  }
  .logo:hover{
    transform: scale(1.2);
    transition-duration: 0.4s;
  }

.gitlogo{
    width: 45px;
}
.gitlogo:hover{
    opacity: 0.8;
}
.gitlogo:active{
    opacity: 0.6;
    width: 46px;
}
.cv_pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Adjust the margin-top value as needed */
    margin-left: auto;
    margin-right: auto;
}
.project{
 display:flex;
 flex-direction: row;
}


    .beautiful_buttons {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        background-color: #000000;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .beautiful_buttons:hover {
        opacity: 0.8;
    }

    .beautiful_buttons:active {
        opacity: 0.6;
    }

    .flappygame{
        font-family: 'Courier New', Courier, monospace;
        text-align: center;

    }

    #board{
     
        background-color: aqua;
        background-image: url("flappymeback.png");
    }

    #contact{
        border-radius: 10%; 
        background-color: rgb(225, 225, 225); 
        color: rgb(0, 0, 0); 
        border: 10px solid rgb(225, 225, 225);;
    }
    
    #contact:hover{
        background-color: rgb(126, 126, 126); 
        color: rgb(255, 255, 255); 
        border: 10px solid rgb(126, 126, 126);
        opacity: 0.3;
    }
   .contact-form{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         border: 10px solid rgb(225, 225, 225);;
   }
#startButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

.star_wrap span{
    position: fixed;
    animation: animate 2s linear infinite;

}
.star_wrap span i{
    color: #000000;
    font-size: 30px;
}
.star_wrap span:nth-child(1){
    left: 5%;
    animation-delay:0.6s;
    top: 20%;
    z-index: -1;

}
.star_wrap span:nth-child(2){
    left: 13%;
    animation-delay:2s;
    top: 45%;
    z-index: -1;

}
.star_wrap span:nth-child(3){
    left: 23%;
    animation-delay:1s;
    top: 75%;
    z-index: -1;
}
.star_wrap span:nth-child(4){
    left: 80%;
    animation-delay:1.5s;
    top: 75%;
    z-index: -1;
}
.star_wrap span:nth-child(5){
    left: 60%;
    animation-delay:0.5s;
    top: 30%;
    z-index: -1;
}
.star_wrap span:nth-child(6){
    left: 70%;
    animation-delay:1.8s;
    top: 10%;
    z-index: -1;
}
.star_wrap span:nth-child(7){
    left: 34%;
    animation-delay:1.2s;
    top: 34%;
    z-index: -1;
}
.star_wrap span:nth-child(8){
    left: 50%;
    animation-delay:0.8s;
    top: 60%;
    z-index: -1;
}
.star_wrap span:nth-child(9){
    left: 90%;
    animation-delay:1.3s;
    top: 40%;
    z-index: -1;
}
.star_wrap span:nth-child(10){
    left: 30%;
    animation-delay:1.6s;
    top: 3%;
    z-index: -1;
}



@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(100px) rotate(360deg);
        opacity: 0;
    }
}

.main_content{
    display: flex;
   
    height: 100vh;
    align-self: stretch;

}
.intro_cont{
    display:inline-block;
    margin-left: 35%;

   
}
.cool_intro{

    
    font-family: 'Times New Roman', Times, serif;
     font-size: 50px; 
     font-weight: normal;
     border-right: 5px solid;;
     width: 100%;
     white-space: nowrap;
     overflow: hidden;
     animation:
        typing 2s steps(14, end),
        cursor 0.5s steps(14, end) infinite;
}
@keyframes cursor{
    50% { border-color: transparent; }
}
@keyframes typing{
    from { width: 0; }
}
